extends layout

block content

	main.app

		section#splash.splash

			img.splash_logo(src="img/splash_logo.png")
			p.splash_next Touchez l'écran pour continuer !

		
		section#menu.menu
			.alignXY
				p#menu_start.btn.btn-lg Commencer
				p#menu_config.btn.btn-lg Options
				p#menu_about.btn.btn-lg A propos
				p#menu_quit.btn.btn-lg.btn-alert Quitter
		
		
		section#tuto.tuto
			#tuto_create.alignXY
				video#tuto_video.tuto_video(src="videos/path.mp4", autoplay, loop, muted)
				.tuto_instructions
					h1 Créer le parcours !
					p Utiliser les blocs en bois fournis dans la boite pour créer un parcours.
			
			#tuto_calibrate.alignXY
				.tuto_instructions
					h1 Calibrer Algo
					p Posez simplement Algo sur la première case, la lumière bleue face à vous.

			#tuto_controls.alignB.controls
				p#tuto_back.btn.btn-low Retour
				p#tuto_next.btn Continuer


		section#program.program
			img#program_play(src="img/play.svg", alt="")

			ul#program_instructions.intructions

			ul#program_controls
				li.instruction.open(data-direction="UP" data-loop="1")
					i.arrow.fa.fa-arrow-up
				li.instruction(data-direction="RIGHT" data-loop="1")
					i.arrow.fa.fa-arrow-right
				li.instruction(data-direction="DOWN" data-loop="1")
					i.arrow.fa.fa-arrow-down
				li.instruction(data-direction="LEFT" data-loop="1")
					i.arrow.fa.fa-arrow-left

			ul#program_trash
				i.close.fa.fa-trash

				li.instruction(data-direction="LEFT" data-loop="1")
					i.arrow.fa.fa-arrow-left

			#program_loop
				input#slider-step(type="range" name="slider-step" value="1" min="1" max="9" step="1" data-highlight="true")




