extends layout

block content

	main.app

		section#splash.splash
			img.splash_logo(src="img/splash_logo.png")
			p.splash_next Touchez l'écran pour continuer !

		
		section#menu.menu
			.alignXY
				p#menu_start.btn.btn-lg Commencer
				p#menu_config.btn.btn-lg Options
				p#menu_about.btn.btn-lg A propos
				p#menu_quit.btn.btn-lg.btn-alert Quitter
		
		
		section#tuto.tuto
			#tuto_create.alignXY
				video#tuto_video.tuto_video(src="videos/path.mp4", autoplay, loop, muted)
				.tuto_instructions
					h1 Créer le parcours !
					p Utiliser les blocs en bois fournis dans la boite pour créer un parcours.
			
			#tuto_calibrate.alignXY
				.tuto_instructions
					h1 Calibrer Algo
					p Posez simplement Algo sur la première case, la lumière bleue face à vous.

			#tuto_controls.alignB.controls
				p#tuto_back.btn.btn-low Retour
				p#tuto_next.btn Continuer


		section#program.program

			#program_navbar
			
			ul#program_instructions.intructions
			
			i#program_play.fa.fa-play(aria-hidden="true")

			ul#program_controls
				li.instruction.open(data-direction="UP" data-loop="1")
					i.arrow.fa.fa-arrow-up
					i.more.fa.fa-plus
					i.less.fa.fa-minus
				li.instruction(data-direction="RIGHT" data-loop="1")
					i.arrow.fa.fa-arrow-right
					i.more.fa.fa-plus
					i.less.fa.fa-minus
				li.instruction(data-direction="DOWN" data-loop="1")
					i.arrow.fa.fa-arrow-down
					i.more.fa.fa-plus
					i.less.fa.fa-minus
				li.instruction(data-direction="LEFT" data-loop="1")
					i.arrow.fa.fa-arrow-left
					i.more.fa.fa-plus
					i.less.fa.fa-minus

			ul#program_trash
				i.close.fa.fa-trash

				li.instruction(data-direction="LEFT" data-loop="1")
					i.arrow.fa.fa-arrow-left

		section#program_playing
			#playing_section_roll.program_playing_content
				img.rooool(src="img/algo.png")
				p.desc Execution du programme en cours ...
				p#playing_cancel.btn.btn-alert(href="#") STOP !

			#playing_section_success.program_playing_content
				img(src="img/success.png")
				p.desc Super ! Tu as réussis à programmer Algo !
				p#playing_reset.btn(href="#") Continuer

			#playing_section_fail.program_playing_content
				img(src="img/fail.png")
				p.desc Ooops ! Il y a un bug dans ton programme :/
				p#playing_correct.btn(href="#") Corriger

			#playing_section_calibrate.program_playing_content
				img(src="img/calibrate.png")
				p.desc Pour continuer, repose Algo sur la première case, la lumière bleue tournée vers le bas.
				p#playing_continue.btn(href="#") Continuer





