doctype html
html
	head
		title= title

		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='/styles/app.css')

	body
		block content

		block scripts
			script(src="/scripts/app.js")
			script(src='/socket.io/socket.io.js')