/********************************************************
************************************************************

	app.scss

************************************************************
*********************************************************/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,400italic,300);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.alignXY, .splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.alignX, .splash_next {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.alignY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.full, .splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

/*======================================
	=            Generic styles            =
	======================================*/
* {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

html, body, main {
  height: 100%;
  width: 100%;
  position: relative; }

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif; }

a {
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }

a:link, a:visited, a:active {
  color: inherit;
  text-decoration: none; }

p {
  padding: 10px 0; }

.content {
  width: 100%;
  max-width: 750px;
  padding: 0 40px;
  margin: 0 auto; }
  .content:before, .content:after {
    content: " ";
    display: table; }
  .content:after {
    clear: both; }

@media (min-width: 768px) {
  .content {
    max-width: 850px; } }

@media (min-width: 960px) {
  .content {
    max-width: 1000px; } }

.splash {
  background: #2f3838; }
  .splash_logo {
    width: 300px;
    height: auto; }
  .splash_next {
    bottom: 100px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    opacity: 1;
    -webkit-animation: blink 1s infinite alternate linear forwards 0s;
            animation: blink 1s infinite alternate linear forwards 0s; }

@-webkit-keyframes blink {
  from {
    opacity: 1; }
  to {
    opacity: 0.5; } }

@keyframes blink {
  from {
    opacity: 1; }
  to {
    opacity: 0.5; } }
