/********************************************************
************************************************************

	app.scss

************************************************************
*********************************************************/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,400italic,300);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.alignXY, .splash_logo, .program .placeholder::before, .program .instruction .arrow, .program .instruction .loop, .program .instruction .close, .program .instruction.instruction_ghost::before, .program #program_trash i, #program_playing .program_playing_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.alignX, .alignB, .splash_next, .program #program_instructions li::after, .program .instruction .more, .program .instruction .less, .program #program_loop .ui-slider .ui-slider-input {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.alignY, .program #program_play, .program #program_loop {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.full, .splash, .tuto, .program, #program_playing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.alignB {
  bottom: 40px; }

.hide, .splash_logo, .menu .btn, .tuto, .tuto #tuto_create, .tuto #tuto_calibrate, .tuto #tuto_controls .btn, .program, .program #program_play, .program .instruction .more, .program .instruction .less, .program #program_trash, .program #program_loop, #program_playing, #program_playing .program_playing_content {
  opacity: 0;
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

/*======================================
	=            Generic styles            =
	======================================*/
* {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

html, body, main, .ui-page {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; }

html {
  background: #2f3838; }

body {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  background-image: url("../img/back.jpg");
  background-size: cover;
  background-position: center; }

a {
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }

a:link, a:visited, a:active {
  color: inherit;
  text-decoration: none; }

p {
  padding: 10px 0; }

.content {
  width: 100%;
  max-width: 800px;
  padding: 100px;
  margin: 0 auto; }

.hide, .splash_logo, .menu .btn, .tuto, .tuto #tuto_create, .tuto #tuto_calibrate, .tuto #tuto_controls .btn, .program, .program #program_play, .program .instruction .more, .program .instruction .less, .program #program_trash, .program #program_loop, #program_playing, #program_playing .program_playing_content {
  opacity: 0;
  visibility: hidden; }

.btn {
  display: block;
  margin: 20px 20px;
  min-width: 200px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.9);
  border: solid 1px rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  box-shadow: 1px 1px 1px rgba(42, 49, 53, 0.2); }
  .btn-lg {
    min-width: 250px; }
  .btn-alert {
    margin-top: 40px;
    background: rgba(238, 83, 59, 0.9);
    border-color: rgba(238, 83, 59, 0.9);
    color: white; }
  .btn-low {
    background: none;
    color: white;
    box-shadow: none; }

.controls .btn {
  display: inline-block; }

.splash {
  overflow: hidden; }
  .splash_logo {
    width: 300px;
    height: auto; }
  .splash_next {
    bottom: 100px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    opacity: 1;
    -webkit-transform: translate(-50%, 200px);
            transform: translate(-50%, 200px);
    -webkit-animation: blink 0.8s infinite alternate linear forwards 0s;
            animation: blink 0.8s infinite alternate linear forwards 0s; }

@-webkit-keyframes blink {
  from {
    opacity: 1; }
  to {
    opacity: 0.6; } }

@keyframes blink {
  from {
    opacity: 1; }
  to {
    opacity: 0.6; } }

.tuto {
  z-index: 5;
  overflow: hidden; }
  .tuto_video {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    display: none; }
  .tuto_instructions {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    color: white; }
    .tuto_instructions h1 {
      font-size: 40px; }
  .tuto #tuto_controls .btn {
    -webkit-transform: translate(0, 200px);
            transform: translate(0, 200px); }

.program {
  background: rgba(27, 190, 212, 0.6);
  overflow-x: scroll; }
  .program.blur {
    -webkit-filter: blur(10px);
            filter: blur(10px); }
  .program #program_navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    border-top: 20px solid rgba(42, 49, 53, 0.2); }
  .program #program_play {
    position: fixed;
    right: 40px;
    z-index: 15;
    margin-top: -50px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    color: white;
    border-radius: 50%;
    border: solid 1px #2a3135;
    background: -webkit-linear-gradient(bottom, #23292c 0%, #2a3135 100%);
    background: linear-gradient(to top, #23292c 0%, #2a3135 100%);
    box-shadow: 0px 0px 80px rgba(42, 49, 53, 0.8); }
  .program #program_instructions {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 270px 120px 60px;
    min-width: 100%;
    height: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    counter-reset: li; }
    .program #program_instructions::before {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -50px;
      left: 0;
      right: 0;
      height: 1px;
      background: rgba(255, 255, 255, 0.2); }
    .program #program_instructions::after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -50px;
      width: 200px;
      height: 1px;
      background: rgba(255, 255, 255, 0.5);
      -webkit-animation: timeline 2s infinite;
              animation: timeline 2s infinite; }

@-webkit-keyframes timeline {
  from {
    left: -200px; }
  to {
    left: 100%; } }

@keyframes timeline {
  from {
    left: -200px; }
  to {
    left: 100%; } }
    .program #program_instructions li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin: 0 20px; }
      .program #program_instructions li::after {
        bottom: -250px;
        color: white;
        opacity: 0.8;
        text-shadow: 1px 1px rgba(42, 49, 53, 0.2);
        text-align: center;
        font-weight: 900;
        font-size: 16px;
        counter-increment: li;
        content: counter(li); }
  .program .placeholder {
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: solid 1px white;
    background: -webkit-linear-gradient(bottom, rgba(19, 23, 25, 0.3) 0%, rgba(42, 49, 53, 0.2) 100%);
    background: linear-gradient(to top, rgba(19, 23, 25, 0.3) 0%, rgba(42, 49, 53, 0.2) 100%); }
    .program .placeholder::before {
      content: '';
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: solid 1px white;
      -webkit-animation: grow 1s infinite ease-in-out forwards;
              animation: grow 1s infinite ease-in-out forwards; }

@-webkit-keyframes grow {
  from {
    height: 200%;
    width: 200%;
    opacity: 0; }
  to {
    height: 90%;
    width: 90%;
    opacity: 0.4; } }

@keyframes grow {
  from {
    height: 200%;
    width: 200%;
    opacity: 0; }
  to {
    height: 90%;
    width: 90%;
    opacity: 0.4; } }
  .program .instruction {
    position: relative;
    display: inline-block;
    z-index: 10;
    height: 80px;
    width: 80px;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(42, 49, 53, 0.2);
    -webkit-transition: box-shadow 0.3s, opacity 0.3s, background 0.3s;
            transition: box-shadow 0.3s, opacity 0.3s, background 0.3s; }
    .program .instruction.selected {
      box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.8); }
    .program .instruction[data-direction='UP'] {
      background: -webkit-linear-gradient(bottom, #fab601 0%, #fec630 100%);
      background: linear-gradient(to top, #fab601 0%, #fec630 100%); }
    .program .instruction[data-direction='LEFT'] {
      background: -webkit-linear-gradient(bottom, #065393 0%, #086ec4 100%);
      background: linear-gradient(to top, #065393 0%, #086ec4 100%); }
    .program .instruction[data-direction='RIGHT'] {
      background: -webkit-linear-gradient(bottom, #e22f14 0%, #ee533b 100%);
      background: linear-gradient(to top, #e22f14 0%, #ee533b 100%); }
    .program .instruction[data-direction='DOWN'] {
      background: -webkit-linear-gradient(bottom, #a7bb28 0%, #c2d640 100%);
      background: linear-gradient(to top, #a7bb28 0%, #c2d640 100%); }
    .program .instruction .more, .program .instruction .less {
      height: 35px;
      width: 35px;
      color: white;
      font-size: 14px;
      line-height: 35px;
      border-radius: 50%;
      border: 1px solid white; }
    .program .instruction.selected .more, .program .instruction.selected .less {
      opacity: 1;
      visibility: visible; }
    .program .instruction.selected[data-loop='1'] .less {
      opacity: 0;
      visibility: hidden; }
    .program .instruction .more {
      top: -55px; }
    .program .instruction .less {
      bottom: -55px; }
    .program .instruction::before {
      content: attr(data-loop);
      position: absolute;
      bottom: -7px;
      right: -7px;
      height: 30px;
      width: 30px;
      line-height: 30px;
      font-size: 16px;
      color: #2a3135;
      background: white;
      box-shadow: 1px 1px 1px rgba(42, 49, 53, 0.2);
      border-radius: 50%; }
    .program .instruction[data-loop='1']::before {
      display: none; }
    .program .instruction .arrow {
      font-size: 25px;
      color: white;
      pointer-events: none; }
    .program .instruction .loop, .program .instruction .close {
      z-index: -1;
      height: 47px;
      width: 47px;
      color: #2a3135;
      line-height: 47px;
      opacity: 0;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: 1px 1px rgba(42, 49, 53, 0.2);
      border-radius: 50%;
      -webkit-transition: all 0.3s;
              transition: all 0.3s; }
    .program .instruction.open .loop, .program .instruction.open .close {
      opacity: 1; }
    .program .instruction.open .loop {
      -webkit-transform: translate(-50%, -100px);
              transform: translate(-50%, -100px); }
    .program .instruction.open .close {
      -webkit-transform: translate(-50%, -160px);
              transform: translate(-50%, -160px); }
    .program .instruction.instruction_chosen {
      box-shadow: 0px 0px 5px rgba(42, 49, 53, 0.2);
      opacity: 1 !important; }
      .program .instruction.instruction_chosen::after {
        display: none; }
    .program .instruction.instruction_ghost {
      box-shadow: none;
      background: -webkit-linear-gradient(bottom, rgba(19, 23, 25, 0.5) 0%, rgba(42, 49, 53, 0.4) 100%);
      background: linear-gradient(to top, rgba(19, 23, 25, 0.5) 0%, rgba(42, 49, 53, 0.4) 100%);
      z-index: 5; }
      .program .instruction.instruction_ghost i {
        display: none; }
      .program .instruction.instruction_ghost::before {
        content: '';
        height: 100%;
        width: 100%;
        background: none;
        border-radius: 50%;
        border: solid 1px white;
        -webkit-animation: grow 1s infinite ease-in-out forwards;
                animation: grow 1s infinite ease-in-out forwards; }

@keyframes grow {
  from {
    height: 300%;
    width: 300%;
    opacity: 0; }
  to {
    height: 100%;
    width: 100%;
    opacity: 0.4; } }
    .program .instruction.unselected {
      opacity: 0.6; }
  .program #program_controls {
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    background: rgba(255, 255, 255, 0.15);
    text-align: center; }
    .program #program_controls .instruction {
      margin-left: 20px;
      margin-right: 20px;
      position: relative;
      z-index: 200; }
    .program #program_controls .instruction:nth-child(1).animating {
      -webkit-animation-duration: 1.2s;
              animation-duration: 1.2s;
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }
    .program #program_controls .instruction:nth-child(2).animating {
      -webkit-animation-duration: 0.8s;
              animation-duration: 0.8s;
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .program #program_controls .instruction:nth-child(3).animating {
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .program #program_controls .instruction:nth-child(4).animating {
      -webkit-animation-duration: 0.9s;
              animation-duration: 0.9s;
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s; }
  .program #program_trash {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 50;
    height: 120px;
    width: 220px;
    background: -webkit-linear-gradient(bottom, rgba(226, 47, 20, 0.8) 0%, rgba(238, 83, 59, 0.75) 100%);
    background: linear-gradient(to top, rgba(226, 47, 20, 0.8) 0%, rgba(238, 83, 59, 0.75) 100%); }
    .program #program_trash i {
      opacity: 0.8;
      color: white;
      text-align: center;
      font-size: 30px; }
    .program #program_trash .instruction {
      position: absolute;
      display: none;
      height: 10px;
      width: 10px; }
    .program #program_trash .hover {
      background: red !important; }
  .program #program_loop {
    left: 80px;
    right: 80px;
    position: fixed;
    padding: 0;
    margin-top: -160px; }
    .program #program_loop .ui-slider {
      position: relative;
      width: 100%;
      padding: 0 15px; }
      .program #program_loop .ui-slider .ui-slider-input {
        top: -70px;
        background: none;
        color: white;
        border: none;
        text-align: center;
        font-size: 25px; }
      .program #program_loop .ui-slider .ui-slider-track {
        position: relative;
        width: 100%;
        height: 2px;
        background: rgba(255, 255, 255, 0.6); }
      .program #program_loop .ui-slider .ui-slider-handle {
        position: absolute;
        top: 50%;
        z-index: 2;
        height: 30px;
        width: 30px;
        background: white;
        border-radius: 50%;
        box-shadow: 2px 2px 2px rgba(42, 49, 53, 0.2);
        outline: none;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .program #program_loop .ui-slider .ui-slider-bg {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background: white;
        -webkit-transition: all 0.3s;
                transition: all 0.3s; }
  .program .loop_number, .program .loop_icon {
    display: inline-block;
    color: white;
    font-size: 40px; }

#program_playing {
  position: fixed;
  z-index: 60;
  background: rgba(42, 49, 53, 0.8); }
  #program_playing .program_playing_content {
    width: 700px;
    text-align: center; }
    #program_playing .program_playing_content img {
      width: 200px;
      display: block;
      margin: 0 auto 30px auto; }
    #program_playing .program_playing_content .desc {
      padding: 10px;
      color: white;
      text-align: center; }
    #program_playing .program_playing_content .btn {
      display: inline-block; }
  #program_playing .rooool {
    -webkit-animation: roll 0.9s linear infinite;
            animation: roll 0.9s linear infinite; }

@-webkit-keyframes roll {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes roll {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
